{% extends 'base.html' %}
{% block content %}

<h1 class="mt-4 mb-4">About Us </h1>
<p>
At TechApply, we believe in leveraging technology to make job applications seamless. Our platform automates the application process, helping job seekers apply faster and smarter. Whether you're a fresh graduate or an experienced professional, TechApply is your go-to tool for job hunting success.

<p>Why Choose TechApply?</p>

<p>AI-powered job application automation</p>
<p>User-friendly interface</p>
<p>Secure and reliable</p>
<p>Saves you hours of manual work</p>

</p>
{% endblock %}
